/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 24px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  overflow: hidden;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address__link {
  text-decoration: underline;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* cover */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 11.5px 32px;
  cursor: pointer;
  white-space: nowrap;
}

/* lots */

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 23px;
  color: inherit;
  padding-left: 40px;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 155px 24px 183px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:last-child {
  padding-top: 98px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px;
  min-height: 180px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
}
